@import url("components/banner.css");
@import url("components/button.css");
@import url("components/cards.css");
@import url("components/navbar.css");
@import url("components/login.css");
@import url("components/video.css");

body {
	font-family: 'Lora', serif;
	font-weight : bold;
	margin: 0px;
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

a{
	text-decoration: none;
}

.where-to-place-our-plans {
	margin-left: 200px;
}

.text-align-center {
	text-align: center;
	margin-top: 100px;
}
